body {
  background-color: #222;
  color: #eee;
  font-size: 16px;
  min-width: 280px;
  padding-top: 40px;
}

.title {
  margin-bottom: 1em;
}

.progress {
  width: 70%;
  margin: 8em auto 0;
}

.lead {
  margin-top: 1em;
  margin-bottom: 0;
}

.sub-title {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: left;
}

.card-footer {
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 575px) {
  .card-group .card {
    width: 120px;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .card-group .card-footer {
    font-size: 75%;
  }
}

.dominant-rgb,
.palette-rgb {
  cursor: pointer;
  text-align: center;
}

.img-requested {
  display: block;
  margin: auto;
  max-width: 600px;
  width: 100%; 
}

.img-url {
  word-break: break-word;
}

footer {
  border-top: 1px solid #444;
  font-size: 14px;
  margin: 10em auto 0;
  padding: 1em;
  text-align: center;
}

footer p {
  margin: 0;
}

canvas {
  display: none;
}
